*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content {
  display: flex;
  justify-content: start;
  align-items: end;
  column-gap: 30px;  
  width: 1140px;
  height: 534px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 54px;
}

.result__video-container {
  position: relative;
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.content__details {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  width: 100%;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  padding-right: 3px;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 32px;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;         
  height: 103px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  flex-grow: 1;
  padding: 2px 0px 4px 2px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.title {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 75px;
  line-height: 70px;
  text-transform: uppercase;
  margin-top: 10px;
}

.content__accent { 
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #FFFFFF;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 5px;
  width: fit-content;  
}

.search-form__checkbox-list {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 5px;
}

.button, .search-form__pseudo-checkbox {
  cursor: pointer;
}

.search-form__textfield {
  appearance: none;
  padding: 0;
  width: 225px;
  height: 27px;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: none;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.search-form__textfield:active {
  outline: none;
  border: 1px solid #FFFFFF;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

.search-form__pseudo-checkbox:active::after, .search-form__checkbox:checked + span::after {
  content: '';
  position: absolute;
  display: block;
  height: 15px;
  width: 15px;
  background-color: #FFFFFF;
  inset: 1px 1px;
}

.search-form__label:has(:focus-visible){
  outline: 1px solid #FFFFFF;
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  cursor: pointer;
  background-color: transparent;
  font-family: 'Fira Sans Condensed';
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 100%;
}

